// _vanilla.defaults.scss modified

$brand-color: #c6c5b5;
$brand-neutral-colors: (#0a64a0, #dc2878, #501eb4, #49516f);
$brand-accent-colors: (#c6c5b5, #ff7d28);
$brand-link-color: #3b3b3b; //416989
$brand-status-colors: (
    critical: #ffffff,
    error: #ff324d,
    warning: #ffd602,
    ok: #8cc800,
    unknown: #a8a8a8,
    disabled: #a8a8a8
) !default;
$brand-grey-colors: (#000001, #333333, #3b3b3b, #434343, #666666);
// $button-secondary-color: nth($brand-neutral-colors, 2);
$brand-font-family: 'Sumana', Arial, sans-serif;
$brand-large-number-font-family: 'Sumana', Arial, sans-serif;
$code-font-family: Consolas, Menlo, 'DejaVu Sans Mono', 'Liberation Mono', monospace;
$text-strong-font-weight: 500;
$fonts-path: 'https://fonts.gstatic.com/s/worksans/v2';
@import '~grommet/scss/grommet-core/index';
@import '~grommet/scss/vanilla/_objects.button-vanilla.scss';
